@import "variables";

.pagination_container {
  display: inline-flex;
  align-items: flex-start;
  list-style-type: none;
  padding: 0;

  .pagination_item {
    @include custom_display(column, center, 10px);
    width: 38px;
    height: 42px;
    align-items: center;

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }
    &:hover {
      background-color: $accent;
      cursor: pointer;
      color: white;
    }

    &.selected {
      background-color: $accent;
      color: white;
    }

    .arrow {

      &::before {
        position: relative;
        content: '';
        display: inline-block;
        width: 0.4em;
        height: 0.4em;
        border-right: 0.12em solid $primary;
        border-top: 0.12em solid $primary;
        cursor: pointer;
      }

      &.left {
        transform: rotate(-135deg) translate(-50%);
      }

      &.right {
        transform: rotate(45deg);
      }
    }

    &.disabled {
      pointer-events: none;

      .arrow::before {
        border-right: 0.12em solid $secondary;
        border-top: 0.12em solid $secondary;
      }

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}
