@import "variables";

.main_block{
  @include custom_display(none, space-between, $space-xl);
  height: 52px;
  width: 100%;
}

.input_block{
  @include custom_display(column, none);
  flex: 1;
}




