@import "variables";

.main_block{
  height: 52px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: $space-xl;
}

.input_block{
  display: flex;
  flex-direction:column;
  flex: 1;
}




