@import "variables";

.input {
    display: flex;
    width: inherit;
    background-color: white;
    border: none;
    padding: $space-s $space-xs;
    font-size: 16px;
    color: $primary;
    outline: none;
    align-items: center;
    gap: $space-xxs;

    &::placeholder, &:disabled, input:focus{
        color: $secondary;
    }

}

.label {
    bottom: 14px;
    transform: translateX(-140%);
    display: flex;
    height: 24px;
    width: 24px;
}


