@import "variables";

.bg_block{
    width: 100%;
    display: flex;
    background-color: white;
    padding: $space-s $space-xs;
    justify-items: stretch;
    gap: $space-xxs;
    justify-content: space-between;
}
.input {
    display: flex;
    width: inherit;
    background-color: white;
    border: none;
    font-size: 16px;
    color: $primary;
    outline: none;
    align-items: center;

    &::placeholder, &:disabled, input:focus{
        color: $secondary;
    }

}

.label {
    display: flex;
    height: 24px;
    width: 24px;
}


