@import "variables";

.product_body_page{
  display: flex;
  flex-direction: column;
  padding: 60px 100px 48px 100px;
  gap: $space-l;

  .link{
    text-decoration: none;
    color: black;
  }

  &__back{
    display: flex;
    gap: $space-xs;
    height: 48px;
    align-items: center;
    cursor: pointer;

    .arrow_back {
      display: flex;
      width: 32px;
      height: 32px;
      justify-content: center;
      align-items: center;
    }
  }
}
