@import "variables";

.main_block{
  margin-bottom: $space-l;
  justify-content: center;
  justify-items: center;
  width: 653px;
  display: inline-flex;
  height: 128px;
  flex-direction: column;
  align-items: center;
  gap: $space-m;
  flex-shrink: 0;
}




