@import "variables";

.main_block{
  @include custom_display(column, center, $space-l);

  &__title_list{
    @include custom_display(none, none, $space-m);
    align-items: center;
  }

  &__list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 360px));
    justify-content: space-between;
    align-content: space-between;
    gap: 30px;
  }

  .pagination, .not_found{
    @include custom_display(none, center);
    width: 100%;
  }

  .link{
    text-decoration: none;
    color: inherit;
    display: flex;
    width: 360px;
    margin: 0;
    padding: 0;
  }
}




