@import "variables";

.main_block{
  display: flex;
  flex-direction: column;
  gap: $space-l;
  justify-content: center;

  &__title_list{
    display: flex;
    align-items: center;
    gap: $space-m;
  }

  &__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    align-items: stretch;
  }

  .pagination{
    display: flex;
    justify-content: center;
    width: 100%;
  }
}




