.main_block{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-l, 32px);

  &__title_list{
    display: flex;
    align-items: center;
    gap: var(--space-m, 24px);
  }

  &__list{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

}




