@import "variables";

.main_block{
    @include custom_display(none, space-between);
    height: 90px;
    flex-shrink: 0;
    background-color: white;
    padding: 0 100px;
    align-content: center;
    align-items: center;

    &__active{
        color: $accent;
        border-bottom: 3px solid $accent;
    }

    &__logo{
        @include custom_display(none, center, $space-xs);
        height: 42px;
        align-items: center;
    }

    &__menu{
        display: flex;
        height: 90px;
        align-items: center;

        &__ul {
            @include custom_display(none, center, $space-xl);
            list-style-type:  none;
            padding: 0;

            &__li {
                @include custom_display(none, center);
                width: 85px;
                height: 90px;

                a{
                    @include custom_display(none, space-between);
                    text-decoration: none;
                    align-items: center;
                }
            }
        }
    }

    &__account{
        @include custom_display(none, center, $space-m);
        align-items: center;

        &__item{
            @include custom_display(column, center, 4px);
            color: $primary;
            align-items: center;
            cursor: pointer;
        }
    }
}