@import "variables";

.related_main_block {
  @include custom_display(column, none, $space-l);
  margin-top: $space-s;
  align-items: flex-start;

  &__title_list{
    @include custom_display(none, none, $space-m);
    align-items: center;
  }

  &__list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 360px));
    justify-content: space-between;
    align-content: space-between;
    gap: 30px;
  }

}




