@import "variables";

.related_main_block {
  @include custom_display(column, none, $space-l);
  margin-top: $space-s;
  align-items: flex-start;

  &__title_list{
    @include custom_display(none, none, $space-m);
    align-items: center;
  }

  &__list{
    @include custom_display(none, space-between, 30px);
    align-items: flex-start;
    flex-wrap: wrap;
  }
}




