@import "variables";

.back{
  display: flex;
  gap: $space-xs;
  height: 48px;
  align-items: center;
  cursor: pointer;

  .arrow_back {
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
  }
}

.product_info{
  display: flex;
  align-items: flex-start;
  gap: $space-xl;

  &__image_block{
    display: flex;
    width: 600px;
    height: 600px;
    flex-shrink: 0;
    background-color: $light-white;
    align-items: center;
    justify-content: center;

    &__img{
      box-sizing: border-box;
      max-width: 100%;
      height: auto;
      width: auto;
      background-color: $light-white;
      flex-shrink: 0;
    }
  }

  &__desc{
    display: flex;
    height: 359px;
    flex-direction: column;
    align-items: flex-start;
    gap: $space-xl;

    &__text{
      display: flex;
      height: 128px;
      flex-direction: column;
      gap: $space-m;
      flex-shrink: 0;
    }

    &__price{
      display: flex;
      padding-top: $space-l;
      flex-direction: column;
      align-items: flex-start;
      gap: var(--space-xl, 48px);

      &__button{
        display: flex;
        align-items: flex-start;
        gap: $space-xl;
      }
    }
  }
}
