@import "variables";

.product_info{
  @include custom_display(none, none, $space-xl);
  align-items: flex-start;

  &__image_block{
    @include custom_display(none, center);
    width: 600px;
    height: 600px;
    flex-shrink: 0;
    background-color: $light-white;
    align-items: center;

    &__img{
      box-sizing: border-box;
      max-height: 100%;
      max-width: 100%;
      background-color: $light-white;
      flex-shrink: 0;
    }
  }

  &__desc{
    @include custom_display(column, none, $space-xl);
    height: 359px;
    align-items: flex-start;

    &__text{
      @include custom_display(column, none, $space-m);
      height: 128px;
      flex-shrink: 0;
    }

    &__price{
      @include custom_display(column, none, $space-xl);
      padding-top: $space-l;
      align-items: flex-start;

      &__button{
        @include custom_display(none, none, $space-xl);
        align-items: flex-start;
      }
    }
  }
}
