@import "variables";

.body_page{
  padding: 100px 100px $space-xl 100px;

  &__body{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    gap: $space-xl;


    &__tools{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: $space-m;
    }
  }
}
