@import "variables";

.body_page{
  @include custom_display(column, none);
  flex-wrap: wrap;
  padding: 100px 100px $space-xl 100px;
  align-content: center;

  &_info{
    display: flex;
    width: 50%;
    justify-items: center;
    justify-self: center;
  }

  &__body{
    width: 100%;
    @include custom_display(column, none, $space-xl);

    &__tools{
      @include custom_display(column, none, $space-m);
      align-items: flex-start;
    }
  }
}
