@import "variables";

.multi_dropdown {
    width: 300px;
    cursor: pointer;

    &__ul {
        background-color: white;
        width: inherit;
        margin: 0;
        padding: 0;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
        position: absolute;
        text-align: center;
        height: calc(47px * 5);
        overflow-y: scroll;
    }

    &__li {
        list-style-type: none;
        padding: 14px 12px;

        &:hover {
            color: $secondary;
        }

        &.selected{
            color: $accent;
        }
    }

}