@import "variables";

.multi_dropdown {
    display: flex;
    align-items: center;

    &__ul {
        background-color: white;
        width: 300px;
        margin-top: 226px;
        padding: 0;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
        position: absolute;
        text-align: center;
    }

    &__li {
        list-style-type: none;
        padding: 14px 12px;

        &:hover {
            color: $secondary;
        }

        &.selected{
            color: $accent;
        }
    }

}
.focused {
    border: 1px solid $accent;
}